body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5% !important;
    color: #444;
}


/*******************************/
/****  REUSABLE COMPONENTS  ****/
/*******************************/

.container-wrapper {}

.container-wrapper--red {
    /* background-color: #f05f40; */
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(240, 95, 64, 0.6));
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(240, 95, 64, 0.6));
    /* color: #fff; */
}

.container-wrapper--black {
    /* background-color: #f05f40; */
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.6));
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.6));
    color: #fff;
}

/* BLOCK DIVIDERS */

.block-divider {
    width: 7.5rem;
    height: 0.3rem;
    border: 0px;
}

.block-divider--orange {
    background-color: #f05f40;
}

.block-divider--gray {
    background-color: #444;
}

.block-divider--white {
    background-color: #fff;
}

.block-divider--short {
    width: 3.5rem;
}


/* BUTTONS */

.btn--cta {
    font-weight: bold;
    border-radius: 2.3rem;
    width: 11rem;
}

.btn--red {
    color: #fff !important;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
}

/* PAGE HEADERS */

.page-header {
    margin-bottom: 0px;
    border-bottom: 0px;
    text-align: center;
}

.page-header h2 {
    margin-top: 0px;
}

.quotes .page-header,
.features .page-header {
    margin-bottom: 2.5rem;
}

/* CONTENT CONTAINERS */

.content-containers {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}


/**********************/
/****  PROMOTIONS  ****/
/**********************/

.promotions-container .col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.site-wide-promo {
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 0px;
    padding: 0.5rem 1.5rem;
    /* background-color: #eec802;
    border-color: #eec802; */
    background-color: #fff;
    border-color: #fff;
}

.site-wide-promo strong {
    font-size: 1.1rem;
    margin: 0px 0.3rem 0px 0px;
}

.site-wide-promo a {
    color: #f05f40;
}


/********************/
/****  NAVBAR    ****/
/********************/

.navpromo-container {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 1;
}

.navbar {
    margin-bottom: 0px;
    border: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1.2rem;
}

.navbar .navbar-toggler {
    border: 0px;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


/*******************/
/****  CALLOUT  ****/
/*******************/

.callout-container {
    height: 100vh;
    background: url("../images/whiskey-background.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


/*********************/
/****  JUMBOTRON  ****/
/*********************/

.jumbotron {
    background-color: transparent;
    margin-bottom: 0px;
}

.jumbotron-header {
    color: #fff !important;
    font-weight: bold;
    margin-bottom: 3rem;
}

.jumbotron .lead {
    margin: 2.5rem 0px;
    color: #a7a7a7;
}

.initial-offer {
    /* color: #856404; */
    color: #f05f40;
    background-color: #fff;
    border-color: #fff;
    border-radius: 0.3rem;
    font-weight: bold;
    padding: 0.25rem 0.55rem;
    margin: 0.5rem 0px 0px 0.2rem;
}

.disclaimer {    
    margin: 0.5rem 0px;
}

.jumbotron small {
    font-size: 0.7rem;
    font-style: italic;
    color: #d0d0d0;
}


/******************/
/****  QUOTES  ****/
/******************/

.quotes-container {}

.media {
    background-image: -webkit-linear-gradient(rgba(68, 68, 68, 0.6), rgba(68, 68, 68, 0.2));
    background-image: linear-gradient(rgba(68, 68, 68, 0.6), rgba(68, 68, 68, 0.2));
    border-radius: 0.4rem;
    height: 15rem;
    display: flex;
    align-items: center;
}

.media img {
    margin: 0px 1rem;
}

.media .blockquote {
    padding: 0.6rem;
    margin-bottom: 0px;
}


/********************/
/****  FEATURES  ****/
/********************/

.features-container {
    color: #444;
}

.card {
    border: 0px;
    border-radius: 0.4rem !important;
    box-shadow: 0.4rem 0.4rem 1.7rem rgba(0, 0, 0, 0.3);
}

.card img {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.card-text {
    font-size: 0.85rem;
    text-align: justify;
}

.feature {
    background-image: -webkit-linear-gradient(rgba(240, 95, 64, 0.6), rgba(240, 95, 64, 0.2));
    background-image: linear-gradient(rgba(240, 95, 64, 0.6), rgba(240, 95, 64, 0.2));
    text-align: center;
    /* margin-bottom: 4rem; */
}

.feature i {

    margin: 0px 0.4rem;
    /* font-size: 4.5rem;
    line-height: 4.5rem; */
}

.tag-new {
    background-color: #fff;
    color: #f05f40;
    border-radius: 0.3rem;
    font-size: 1.1rem;
    padding: 0.23rem 0.28rem 0.17rem 0.28rem;
    margin: 0px 0.2rem;
}

.feature .btn {
    background-color: #fff;
    border-color: #fff;
    border-radius: 1.5rem;
    min-width: 10rem;
    font-weight: bold;
    margin-top: 0.7rem;
    color: #f05f40;
    transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}

.feature .btn:hover,
.feature .btn:active,
.feature .btn:focus,
.feature .btn:active:focus {
    background-color: #f05f40;
    border-color: #f05f40;
    color: #fff;
}


/**********************/
/****  FAVOURITES  ****/
/**********************/

.favourites-container {
    height: 100%;
    background: url("../images/monthly_favourites.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
}

.favourites p {
    font-size: 1.7rem;
    text-align: center;
}

.favourites .table {
    color: #fff;
    font-size: 1.2rem;
}
